body {
    background-color: antiquewhite;
}

fieldset {
    border-color: yellow;
    color: red;
}

form label {
    width: 100%;
    display: inline-block;
    text-align: center;
}

form input {
    width: 100%;
    text-align: center;
}

.title, h2 {
    text-align: center;
    text-transform: uppercase;
}

.name {
    border-radius: 10px;
    border: 1px solid green;
}

.surname {
    border-radius: 15px;
    border: 2px double dodgerblue;
}

.password {
    border: 1px solid red;
}

.select {
    background-color: rgb(181, 255, 159);
    color: rgb(0, 88, 165);
    text-align: center;
    width: 100%;
}

.click-btn {
    background-color: brown;
    width: 100%;
    color: white;
}

img {
    border: 1px double green;
}

.text-1 {
    border: 5px double firebrick;
    color: coral;
}

.text-2 {
    border: 5px double firebrick;
    color: hotpink;
}

.text-3 {
    border: 5px double firebrick;
    color: teal;
}

footer {
    background-color: black;
    color: gold;
    text-align: center;
}